<header class="header-container">
    <div class="header-logo">
        <img src="./assets/logo.png" alt="">
    </div>

    <ul class="header-list">
        <li><a href="">Home</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">Feature</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">Testimonial</a></li>
        <li><a href="">Faq</a></li>
    </ul>

    <div class="header-action">
        <p>login</p>
        <app-button btnText="sign up"></app-button>
    </div>
</header>
