@import "../../../variables.scss";

section {
    background-color: #F5F7FA;

    .principal {
        display: flex;
        padding: 160px 105px 160px 105px;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
      
    
        .info {
            padding-right: 90px;
    
            h2 {
                font-size: 64px;
                font-family: sans-serif;
                padding: 0px 0px 16px 0px;
                span {
                    color: $primary;
                }
            }
    
            p   {
                padding: 0px 0px 32px;
                color: #717171;
            }
        }
    
        .img-principal {
          
        }
    
        .dot {
    
        }
    }

    .dot {
        text-align: center;
        padding-bottom: 16px;
    }
}
