<app-header></app-header>
<main class="main">
    <section >
        <div class="principal">
            <div class="info">
                <h2>Lessons and insights <br> <span>from 8 years</span></h2>
                <p>Where to grow your business as a photographer: site or social media?</p>
                <app-button btnText="Register"></app-button>
            </div>
    
            <div class="img-principal">
                <img src="./assets/ilus.png" alt="">
            </div>
        </div>
        
        
        <div class="dot">
            <img src="./assets/Dot.png" alt="">
        </div>
    </section>


    <section id="ourClients">
        <div>
            <h2>Our Clients</h2>
            <p>We have been working with some Fortune 500+ clients</p>
        </div>

        <div class="ourClients-brands">
            <div>
                <img src="/assets/brands/logoOne.png" width="48" height="48">
            </div>
           
            <div>
                <img src="/assets/brands/logoTwo.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoThree.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoFour.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoFive.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoSix.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoSeven.png" width="48" height="48">
            </div>
        </div>
    </section>

    <section id="community">
        <div>
            <h2> Manage your entire community <br> in a single system</h2>
            <p> who is Nextcent suitable for?</p>
        </div>
        
        <div class="cards">
            <app-card 
                paragraph="Our membership management software provides full automation of membership renewals and payments" 
                title="membership Organisations" 
                imageUrl="./assets/Icon.png">
            </app-card>

            <app-card 
                paragraph="Our membership management software provides full automation of membership renewals and payments"
                title="National Associations" 
                imageUrl="./assets/Icon2.png"
                ch="200px">
            </app-card>

            <app-card 
                paragraph="Our membership management software provides full automation of membership renewals and payments" 
                title="Clubs And Groups" 
                imageUrl="./assets/Icon3.png"
                ch="200px">
            </app-card>
        </div>
    </section>
</main>
