<app-header></app-header>
<main class="main">
    <section >
        <div class="principal">
            <div class="info">
                <h2>Lessons and insights <br> <span>from 8 years</span></h2>
                <p>Where to grow your business as a photographer: site or social media?</p>
                <app-button btnText="Register"></app-button>
            </div>
    
            <div class="img-principal">
                <img src="./assets/ilus.png" alt="">
            </div>
        </div>
        
        
        <div class="dot">
            <img src="./assets/Dot.png" alt="">
        </div>
    </section>


    <section id="ourClients">
        <div>
            <h2>Our Clients</h2>
            <p>We have been working with some Fortune 500+ clients</p>
        </div>

        <div class="ourClients-brands">
            <div>
                <img src="/assets/brands/logoOne.png" width="48" height="48">
            </div>
           
            <div>
                <img src="/assets/brands/logoTwo.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoThree.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoFour.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoFive.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoSix.png" width="48" height="48">
            </div>

            <div>
                <img src="/assets/brands/logoSeven.png" width="48" height="48">
            </div>
        </div>
    </section>
</main>
