@import "../../../variables.scss";

section {
    background-color: #F5F7FA;

    .principal {
        display: flex;
        padding: 160px 105px 160px 105px;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
      
    
        .info {
            padding-right: 90px;
    
            h2 {
                font-size: 64px;
                font-family: sans-serif;
                padding: 0px 0px 16px 0px;
                span {
                    color: $primary;
                }
            }
    
            p   {
                padding: 0px 0px 32px;
                color: #717171;
            }
        }
    
        .img-principal {
          
        }
    
        .dot {
    
        }
    }

    .dot {
        text-align: center;
        padding-bottom: 16px;
    }
}

#ourClients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-family: sans-serif;

    h2 {
        padding: 40px 0px 8px 0px;
        font-size: 36px;
        color: #4D4D4D;
    }

    p {
        font-size: 18px;
        color: #717171;
        padding: 0px 0px 40px 0px;
    }

    .ourClients-brands {
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            margin: 0px 75px 40px 75px; 
        }
    }
}

#community {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
    flex-direction: column;
   
    h2 {
        font-size: 36px;
        padding-bottom: 8px;
    }

    p {
        font-size: 16px;
        color: #717171;
        padding-bottom: 16px;
    }

    .cards {
        display: flex;
        align-items: center;
        text-align: center;
        app-card {
            margin: 0 75px 42px 75px;
        }
        
    }
}